<div class="container">
    <form action="/register" method="post">
        <input type="text" name="First_Name" class="first-name" placeholder="Enter First Name"><br>
        <input type="text" name="Last_Name" class="name" placeholder="Enter Last Name"><br>
        <input type="tel" name="Mobile-no." class="number" placeholder="Enter your phone no."><br>
        <input type="email" name="email" class="email-registration" placeholder="Enter your email"><br>
        <input type="password" name="password" class="Password-registration" placeholder="Enter your password"><br>
        <input type="button" value="Register" name="registration" class="registration-btn" placeholder="register">

    </form>
</div>
