<div class="container" >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit" >
      <input formControlName="email" type="text" placeholder="Enter your E-mail" name="email" class="Email-login" ><br>
      <input formControlName="password" type="password" placeholder="Enter your Password" name="password" class="Password-login" ><br>
      <button (click)=[onSubmit()] class="login" type="submit" class="LogIn-btn">Log in</button>
      <!-- <p style="color:white">Value: {{ loginForm.value | json }}</p>
      <p style="color:white">Value: {{ loginForm.valid | json }}</p>
      {{submitted}} -->
    </form>
  </div>
