<div class="nav">
  <nav>  
    <ul>  
    <li>  
    <a href="#"> Home </a>  
    </li>  
    <li>  
    <a href="#"> Login </a>  
    </li>  
    <li>  
    <a href="#"> Registration </a>  
    </li>  
    </ul>  
    <div class="search">
      <input type="text" name="Search" class="search-stock" placeholder="search stocks">
      <input type="button" value="Search" placeholder="Search">
    </div>
    
    </nav>  
</div>
<div>
  <h2 class="stock-center">{{title}}</h2>
</div>
<div class="container">
  <form action="/login" method="post">
    <input type="text" placeholder="Enter your E-mail" name="email" class="Email-login" ><br>
    <input type="password" placeholder="Enter your Password" name="password" class="Password-login" ><br>
    <button class="login" type="submit" class="LogIn-btn">Log in</button>
  </form>
</div>
<app-registration></app-registration>
<app-user-profile></app-user-profile>