<div>
    <h1>{{userName}}</h1>
    <input type="button" value="myStocks" class="myStocks" (click)="viewStock()"><br>
    <input type="button" value="userInfo" class="userInfo"><br>
    <form [formGroup]="stockForm" (ngSubmit)="clickedMyStocks">
        <div *ngFor="let item of s; let index=i;">
            <div >
                <button type="submit"   name="test" >{{item.symbol}}</button>
                <input formControlName="quantity" type="number" name="quantity" >
                <input type="submit" value="buyMoreStocks" (click)="buyStock(item._id)" class="buyMoreStocks">
                <input type="button" value="sellStocks" (click)="sellStock(item._id)" class="sellStocks"><br>
            </div>
            
        </div>
        <p style="color:white">Value: {{ stockForm.value | json }}
    </form>
    <!-- <div *ngFor="let item of s; let index=i;">
        {{clickedMyStocks}}
        {{i}}
        <h1  style="color: azure;">{{i}}</h1><br> 
        <h1  style="color: azure;">{{item.symbol}}</h1><br> 
       <div>
           <button type="submit" >{{item.symbol}}</button>
       </div>
       
   </div> -->
    
    
    
</div>

